<a href="https://colab.research.google.com/github/softglance/ml/blob/master/KNN_B47.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
!wget https://www.dropbox.com/s/qgcs782d332is4b/diabetes.csv
data = pd.read_csv('diabetes.csv')
data.head()

--2022-07-03 04:28:37--  https://www.dropbox.com/s/qgcs782d332is4b/diabetes.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.4.18, 2620:100:6019:18::a27d:412
Connecting to www.dropbox.com (www.dropbox.com)|162.125.4.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/qgcs782d332is4b/diabetes.csv [following]
--2022-07-03 04:28:37--  https://www.dropbox.com/s/raw/qgcs782d332is4b/diabetes.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc6679fd76df6cb9440098b6b553.dl.dropboxusercontent.com/cd/0/inline/BoXazn5a5nsZjzV6TaPHeHk7p-oqXNdgZMOV6bfdv-xZT12tr6k9n7ABX7cBgoosxwqcSZbJU_Uy4nHz1YTczVoLXe5l9dIffHvxjpj9iTpJih6Kt3i-o2MLnU0BJ_EEKf0wnAEVDSPTP-Nh06zkepV-LVPHrUJDofwujBZT9mYPoA/file# [following]
--2022-07-03 04:28:37--  https://uc6679fd76df6cb9440098b6b553.dl.dropboxusercontent.com/cd/0/inline/BoXazn5a5nsZjzV6TaPHeHk7p-oqXNdgZMOV6bfdv-xZT12tr6k9n7ABX7cBgoosxwqcSZbJU_Uy4nHz1YTczVoLXe5l9dIffHvxjpj9iTpJih6Kt3i-o2MLnU0BJ_EEKf0wnAEVDSPTP-Nh06zkepV-LVPHrUJDofwujBZT9mYPoA/file
Resolving uc6679fd76df6cb9440098b6b553.dl.dropboxusercontent.com (uc6679fd76df6cb9440098b6b553.dl.dropboxusercontent.com)... 162.125.4.15, 2620:100:6019:15::a27d:40f
Connecting to uc6679fd76df6cb9440098b6b553.dl.dropboxusercontent.com (uc6679fd76df6cb9440098b6b553.dl.dropboxusercontent.com)|162.125.4.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26856 (26K) [text/plain]
Saving to: ‘diabetes.csv’

diabetes.csv        100%[===================>]  26.23K  --.-KB/s    in 0.007s

2022-07-03 04:28:38 (3.83 MB/s) - ‘diabetes.csv’ saved [26856/26856]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,1,85,66,29,0,26.6,0.351,31,No
1,8,183,64,0,0,23.3,0.672,32,Yes
2,1,89,66,23,94,28.1,0.167,21,No
3,0,137,40,35,168,43.1,2.288,33,Yes
4,5,116,74,0,0,25.6,0.201,30,No

In [ ]:
data.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000,767.000000
mean,3.842243,120.859192,69.101695,20.517601,79.903520,31.990482,0.471674,33.219035
std,3.370877,31.978468,19.368155,15.954059,115.283105,7.889091,0.331497,11.752296
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243500,24.000000
50%,3.000000,117.000000,72.000000,23.000000,32.000000,32.000000,0.371000,29.000000
75%,6.000000,140.000000,80.000000,32.000000,127.500000,36.600000,0.625000,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

In [ ]:
# fill the missing values with mean 
# Fill the missing with median

In [ ]:
data['Glucose'] = data['Glucose'].replace(0,data['Glucose'].median())
data['BloodPressure'] = data['BloodPressure'].replace(0,data['BloodPressure'].median())
data['SkinThickness'] = data['SkinThickness'].replace(0,data['SkinThickness'].median())
data['BMI'] = data['BMI'].replace(0,data['BMI'].median())
data['Insulin'] = data['Insulin'].replace(0,data['Insulin'].median())

In [ ]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,767.000000,767.000000,767.000000,767.000000,767.00000,767.000000,767.000000,767.000000
mean,3.842243,121.621904,72.387223,27.324641,95.46545,32.449413,0.471674,33.219035
std,3.370877,30.443252,12.104527,9.230877,105.14839,6.879727,0.331497,11.752296
min,0.000000,44.000000,24.000000,7.000000,14.00000,18.200000,0.078000,21.000000
25%,1.000000,99.500000,64.000000,23.000000,32.00000,27.500000,0.243500,24.000000
50%,3.000000,117.000000,72.000000,23.000000,32.00000,32.000000,0.371000,29.000000
75%,6.000000,140.000000,80.000000,32.000000,127.50000,36.600000,0.625000,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.00000,67.100000,2.420000,81.000000

In [ ]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [ ]:
X = data.drop(columns='Outcome')
y = data['Outcome']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42,test_size=0.2)

In [ ]:
X_train_transformed = ss.fit_transform(X_train)
X_test_transformed = ss.transform(X_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)

In [ ]:
knn.fit(X_train_transformed,y_train)

KNeighborsClassifier()

In [ ]:
y_pred = knn.predict(X_test_transformed)

In [ ]:
from sklearn.metrics import classification_report,f1_score,accuracy_score

In [ ]:
accuracy_score(y_test,y_pred)

0.7532467532467533

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          No       0.79      0.82      0.81        97
         Yes       0.68      0.63      0.65        57

    accuracy                           0.75       154
   macro avg       0.74      0.73      0.73       154
weighted avg       0.75      0.75      0.75       154

In [ ]:
from sklearn.model_selection import GridSearchCV
parameter = {'n_neighbors':range(1,30,1)}

grid = GridSearchCV(estimator=knn,cv=5, param_grid = parameter)

grid.fit(X_train_transformed,y_train)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': range(1, 30)})

In [ ]:
grid.best_score_

0.7585232573637212

In [ ]:
grid.best_params_

{'n_neighbors': 23}

In [ ]:
print(classification_report(y_test, grid.predict(X_test_transformed)))

              precision    recall  f1-score   support

          No       0.81      0.90      0.85        97
         Yes       0.78      0.63      0.70        57

    accuracy                           0.80       154
   macro avg       0.79      0.76      0.77       154
weighted avg       0.80      0.80      0.79       154